<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/create">Cadastro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">Listagem</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name da tarefa</th>
        <th scope="col">Data de execução</th>
        <th scope="col">#</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="task : ${tasks}"> <!--for each do html-->
        <td data-th-text="${task.id}"></td>
        <td data-th-text="${task.name}"></td>
        <td data-th-text="${{task.date}}"></td>
        <td>
            <a th:href="@{'/edit/' + ${task.id}}">Editar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
